body {
  font-family: "Istok Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #525e66;
  line-height: 1.4;
  padding: 40px;
  display: inline-block;
  background-color: lightgoldenrodyellow;
}
